/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f5f5f5;
}

/* Container styles */
.container {
    max-width: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Header and logout button styles */
.bener {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bener h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

#logout {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 10px ;
    margin: 10px;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#logout:hover {
    background-color: #0056b3;
}

/* Navigation links styles */
p {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

p a {
    color: #000;
    text-decoration: none;
}

p a:hover {
    color: #ff0000;
}

/* Data table styles */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f5f5f5;
}

/* Graph styles */
.graph {
    width: 100%;
    height: 200px;
}

.graph svg {
    width: 100%;
    height: 100%;
}
